
<nav  class="app-header" >
   
        <div class="hero">
            <h1>Cats Facts</h1>
            <p class="quote">"If cats could talk, they wouldn't" -Nan Porter </p>
            <p class="disclaimer">*not a fact</p>
    
            <a type="button" class="btn btn-light" routerLink="/all-facts" routerLinkActive="btn-active" >All Facts</a> 
            <a type="button" class="btn btn-light" routerLink="/my-facts" routerLinkActive="btn-active">My Facts</a>
        </div>
   
</nav>

<router-outlet class="app-content"></router-outlet>